<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmarkData</key>
		<data>
		Ym9va6gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAmAMAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAHNoYW5pYWJhc3MAAAcA
		AAABAQAATGlicmFyeQAQAAAAAQEAAE1vYmlsZSBEb2N1bWVudHMTAAAAAQEA
		AGNvbX5hcHBsZX5DbG91ZERvY3MAFwAAAAEBAABNYWxlIE1lbnRhbCBIZWFs
		dGguYmFuZAAYAAAAAQYAAAQAAAAUAAAAKAAAADgAAABQAAAAbAAAAAgAAAAE
		AwAAddUJAAAAAAAIAAAABAMAACOIDwAAAAAACAAAAAQDAAAkiA8AAAAAAAgA
		AAAEAwAA7pkPAAAAAAAIAAAABAMAACGaDwAAAAAACAAAAAQDAABT05gAAAAA
		ABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABBwSDL
		0k843hgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABm
		aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgA
		AAAABAAAQcB2V7pf8VwkAAAAAQEAADBEQzAyRDUyLTkzQzEtNDkyRS1BNTUz
		LUMyQjNCQzgyODIwMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
		AQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJZGVu
		dGlmaWVyS2V5AAAEAAAAAwMAAAGgAwAIAAAAAAQAAEHBIMvSTz/LVgAAAAEB
		AAAvVXNlcnMvc2hhbmlhYmFzcy9MaWJyYXJ5L01vYmlsZSBEb2N1bWVudHMv
		Y29tfmFwcGxlfkNsb3VkRG9jcy9NYWxlIE1lbnRhbCBIZWFsdGguYmFuZAAA
		8AAAAAECAAAxZDAyMzZlNjE3NTQwNmNiYTY0NWY1MjZjYTNmNTE1NzAxMjlm
		MWNjOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAw
		MDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEw
		MDAwMDQ7MDAwMDAwMDAwMDk4ZDM1MzswMTsvdXNlcnMvc2hhbmlhYmFzcy9s
		aWJyYXJ5L21vYmlsZSBkb2N1bWVudHMvY29tfmFwcGxlfmNsb3VkZG9jcy9t
		YWxlIG1lbnRhbCBoZWFsdGguYmFuZADYAAAA/v///wEAAAAAAAAAEQAAAAQQ
		AACMAAAAAAAAAAUQAAAMAQAAAAAAABAQAAA8AQAAAAAAACAQAABsAAAAAAAA
		AEAQAAAsAQAAAAAAAEIQAAAwAgAAAAAAAAIgAADsAQAAAAAAAAUgAABcAQAA
		AAAAABAgAABsAQAAAAAAABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQ
		AQAAAAAAACAgAADMAQAAAAAAADAgAAD4AQAAAAAAAIDwAACgAgAAAAAAAAD/
		AABAAgAAAAAAAAACAIAkAgAAAAAAAA==
		</data>
		<key>date</key>
		<string>2019-03-19 21:33:27 +0000</string>
		<key>unique-id</key>
		<string>0731A52D-E87E-42C8-82A2-B88B8A05D967</string>
	</dict>
</array>
</plist>
